
/* BASE STYLEZ *****************************************************/

* {

    font-family: arial;
    box-sizing: border-box;
         margin: 0;
        padding: 0;
        float: left;
       

}

 h1 {

    width: 100%;
    text-align: center;
    clear: right;
    margin-bottom: 25px;
    font-size: 34px;

  } 



div {

    
	margin-right: -30%;
	width: 100%;

}





h2 {

     float: right;
     margin-right: -5px;
     margin-left: -5px;
     margin-top: 0;
     border: 1px solid black;
     
}



p {

	float: left;
    background-color: #60DAB5;
    
    text-align: center;
    border: 1px;
    margin-top: auto;
    
     
 

}

section {

	
    margin-bottom: 45px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    width: 25%;
    padding: 5px;
    

    
}


      
    

   

    .p1 {

    width: 31%;
    margin-left: 10px;
    margin-right: 15px;
    
    
  } 

    .p2 {

    width: 31%;
    margin-left: 5px;
    margin-right: 15px;
    
    
  }

   .p3 {

    width: 31%;
    margin-left: 15px;
    margin-right: 15px;
    

  }

.p1 > h2 {
   background-color: gray;
   margin-top: -5px;

}



.p2 > h2 {
   
   margin-top: -5px;   
   background-color: #8D5151;
  
}




.p3 > h2 {
   
   background-color: #2758AD;
   margin-top: -5px;
}

.p1 > p {
   
   margin-right: -5px;
   margin-left: -5px;
   text-align: center;
   margin-bottom: -5px;
}


.p2 > p {
   
   margin-right: -5px;
   margin-left: -5px;
   text-align: center;
   margin-bottom: -5px;
   
}


.p3 > p {
   
   margin-right: -5px;
   margin-left: -5px;
   text-align: center;
   margin-bottom: -5px;

}


 

  



.row {

	width: 100%;
}







/* DESKTOP VIEW ******************************************************/


@media (min-width: 992px) {

	
	




     h1 {

    	clear: right;
    	margin-bottom: 25px;
    
  }
 
    .p1 {

    width: 29%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid black;
    padding: 5px 5px 5px;
    
  } 

    .p2 {

    width: 29%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid black;
    padding: 5px 5px 5px;
    

  }

   .p3 {

    width: 29%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid black;
    padding: 5px 5px 5px;
  
  }

  .p1 > h2 {

    margin-top: -5px;


  }

  .p1 > p {

    margin-bottom: -5px;
    

  }


  .p2 > h2 {

    margin-top: -5px;


  }

  .p2 > p {

    margin-bottom: -5px;
    

  }
 
  .p3 > h2 {

    margin-top: -5px;


  }

  .p3 > p {

    margin-bottom: -5px;
    

  }

}

/* MEDIUM DEVICES VIEW ******************************************************/



 @media (min-width: 768px) and (max-width: 991px) {
    
      
     
      
      h1 {
        padding: 45px;
        margin-bottom: 20px; 
       
       }


    .p1 {
        
        width: 45%;
        margin-left: 25px;
        margin-right: 5px;
       border: 1px solid black;
       padding: 5px 5px 5px;

     }
     
    .p2 {

       width: 45%;
    	
        margin-right: 15px;
        margin-left: 15px;
        clear: right;
        float: right;
        border: 1px solid black;
    padding: 5px 5px 5px;

      }

    
     .p3 {

     	width:85%; 
    	margin-right: 25px;
        margin-left: 25px;
       clear: both;
       border: 1px solid black;
    padding: 5px 5px 5px;
       
     

     }

      
     .p1 > h2 {
   background-color: gray;
   margin-top: -5px;

}



.p2 > h2 {
   
   margin-top: -5px;   
   background-color: #8D5151;
  
}




.p3 > h2 {
   
   background-color: #2758AD;
   margin-top: -5px;
}

.p1 > p {
   
   margin-right: -5px;
   margin-left: -5px;
   text-align: center;
   margin-bottom: -5px;
}


.p2 > p {
   
   margin-right: -5px;
   margin-left: -5px;
   text-align: center;
   margin-bottom: -5px;
   
}


.p3 > p {
   
   margin-right: -5px;
   margin-left: -5px;
   text-align: center;
   margin-bottom: -5px;

    }

 }          


/* SMALL SIZE DEVICES VIEW ******************************************************/


 @media (max-width: 767px) {
  
  h1 {
        padding: 45px;
        margin-bottom: 20px; 
       
       }


    .p1 {
        
        width: 80%;
        margin-left: 35px;
        margin-right: 35px;
        border: 1px solid black;
        padding: 5px 5px 5px;
        clear: right;

     }
     
    .p2 {

       width: 80%;
        margin-left: 35px;
        margin-right: 35px;
         
        border: 1px solid black;
    padding: 5px 5px 5px;
      
      
       }

    
     .p3 {

     	width: 80%;
        margin-left: 35px;
        margin-right: 35px;
       clear: both;
       border: 1px solid black;
    padding: 5px 5px 5px;
       
     

     }

      
     .p1 > h2 {
   background-color: gray;
   margin-top: -5px;

}



.p2 > h2 {
   
   margin-top: -5px;   
   background-color: #8D5151;
  
}




.p3 > h2 {
   
   background-color: #2758AD;
   margin-top: -5px;
}

.p1 > p {
   
   margin-right: -5px;
   margin-left: -5px;
   text-align: center;
   margin-bottom: -5px;
}


.p2 > p {
   
   margin-right: -5px;
   margin-left: -5px;
   text-align: center;
   margin-bottom: -5px;
   
}


.p3 > p {
   
   margin-right: -5px;
   margin-left: -5px;
   text-align: center;
   margin-bottom: -5px;

}

 }



 }
 

  
       


 


     
 
 